.profi-widget-container {
  width: 86.25em;
  height: auto;
  margin: 0 auto 2em;
}

.profi-widget {
  box-sizing: border-box;
  margin-left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 25.8125em;
  height: 8em;
  padding: 1em;

  font-family: Assistant;

  text-align: justify;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: white;
}

.widget-title {
  width: 14.5em;
  font-size: 1.63em;
  text-align: left;
}

.widget-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 23.8125em;
}

.widget-button {
  padding: 0.4em 0.8em;
  border-radius: 5px;
  font-size: 1.35em;
  font-weight: bold;
  background-color: rgb(228, 24, 24);

  border: none;
  outline: none;

  transition: opacity 0.3s linear;
}

.widget-button:hover {
  opacity: 0.8;
}

.widget-button a {
  color: white;
}

.widget-content-general {
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  font-size: 1.5em;

  width: 10em;
  padding: 0;
  margin: 0;
}

.widget-content-text {
  text-align: center;
}

.widget-icons {
  position: relative;
  top: 0.25em;
  width: 1em !important;
  height: 1em !important;
  margin-left: 0.3em;
}

#star-text {
  position: relative;
  top: 0.1em;
}

#mark-text {
  position: relative;
  top: 0.1em;
}

/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  .profi-widget {
    font-size: 3.25em;
    margin: 1em auto;
    margin-bottom: 3em;
  }
}
