#use {
  padding-bottom: 5em;
}

.use-content {
  font-family: 'Alice', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  text-align: justify;
  width: 43.125em;
  line-height: 1.2em;
  margin: 0 auto;
  padding-bottom: 1em;
}

#use-content-wrapper {
  margin-top: 5.45em;
}

/* Tablet portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  .use-content {
    font-size: 2.5em;
    width: 33.2em;
  }
}

/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  .use-content {
    font-size: 4em;
    width: 21.5em;
  }
}
