#homepage {
  width: 100%;
  height: calc((100vw / 120) * 50);
  background: url('../../img/assets/back1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage-content-wrapper {
  max-width: 58.28em;
  height: auto;
  margin-left: 16.57em;
  padding-top: 15.7em;
}

#homepage-header {
  font-size: max(5em);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #333;
}

#homepage-subheader {
  font-size: max(3em);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 0.1em;
  color: #333;
}

#homepage-social {
  margin-top: 2.1em;
  width: 15.5em;
  display: flex;
  justify-content: space-between;
}

.homepage-social-link {
  max-width: 3.2em;
  height: auto;
  margin-right: 0.5em;
}

#telegram {
  margin-top: 0.2em;
  max-width: 2.9em;
}