#homepage {
  width: 100%;
  height: calc((100vw / 120) * 50);
  background: url('../../img/assets/back1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage-content-wrapper {
  max-width: 58.28em;
  height: auto;
  margin-left: 16.57em;
  padding-top: 15.7em;
}

#homepage-header {
  font-size: max(5em);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #333;
}

#homepage-subheader {
  font-size: max(3em);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-top: 0.1em;
  color: #333;
}

#homepage-social {
  margin-top: 2.1em;
  width: 15.5em;
  display: flex;
  justify-content: space-between;
}

.homepage-social-link {
  max-width: 3.2em;
  height: auto;
  margin-right: 0.5em;
}

#telegram {
  margin-top: 0.2em;
  max-width: 2.9em;
}

/* Tablet portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  #homepage {
    height: 100vh;
    background: url('../../img/assets/back-tablet.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}

/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  #homepage {
    height: 90%;
    background: url('../../img/assets/back-mobile.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #homepage-content-wrapper {
    
  }

  #homepage-header{
    color: #EEEEEE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    font-size: 9.8em;
  }

  #homepage-subheader{
    color: #EEEEEE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  }

  #homepage-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .homepage-social-link {
    height: auto;
    margin-right: 0em;
    filter: invert(1) brightness(0.2) invert(1);
  }

  #telegram {

  }
}

/* IPHONEX portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) and (min-device-height: 810px) {
  #homepage {
    height: 90%;
    background: url('../../img/assets/back-mobile-long.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #homepage-content-wrapper {
    position: relative;
    top: 28%;
  }

  #homepage-social {
    margin-top: 60em;
  }
}