#quote-container {
  background: url('../../../public/assets/quote-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

#quote-header {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3em;
  color: #ffffff;
}

#quote-subheader {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3em;
  color: #ffffff;
  width: 30em;
  text-align: center;
}