#quote-container {
  background: url('../../img/assets/quote-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

#quote-header {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3em;
  color: #ffffff;
}

#quote-subheader {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3em;
  color: #ffffff;
  width: 30em;
  text-align: center;
}

/* Tablet portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  #quote-header,
  #quote-subheader {
    font-size: 3.1em;
  }
}

/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  #quote-container {
    height: 60em;
  }

  #quote-header {
    font-size: 5em;
  }

  #quote-subheader {
    font-size: 4em;
  }
}
