.faq-block {
  width: 86.25em;
  height: auto;
  margin: 0 auto;
}

.faq-question {
  font-family: Alice;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.3125em;
  text-align: justify;
}

.faq-answer {
  font-family: Alice;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.3125em;
  text-align: justify;
  margin-bottom: 1em;
}

.faq-answer:last-child {
  margin-bottom: 0;
}

#contract-example {
  transition: opacity 0.2s linear;
}

#contract-example:hover {
  opacity: 0.5;
}

/* Tablet portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  .faq-question,
  .faq-answer {
    font-size: 2.5em;
    width: 34.4em;
  }
}

/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  .faq-question,
  .faq-answer {
    font-size: 4em;
    width: 21.5em;
  }
}
