#secondLineSVGGroup{
  position: absolute;
  top: 323.5em;
  right: 5em;
  width: 5%;
  opacity: 1;
}

.fc6d5694-db63-481e-8468-ad21e1c6a15c {
  fill: #777;
}

.b6bd20b9-fdc6-41d8-baf1-9c082e24fcab {
  fill: gray;
}

.ac39b22b-5fa9-4916-9294-2147367a350d {
  fill: #c7c7c7;
}

.a2c6f13a-4406-484f-8eed-83afddfc1add {
  fill: #939393;
}

.b34b88e8-828d-4761-bdd2-97811c035a7a {
  fill: #9e9e9e;
}

.a08e8314-1cb8-4180-8e6a-8c14f310ca41 {
  fill: #b6b6b6;
}

.fd0649ad-b9cd-4286-a3d3-eb80ce5de120 {
  fill: #d8d8d8;
}

.a2a18f77-8f83-4c96-9194-fd157e9320b3 {
  fill: #dbdbdb;
}

.aa7bd1a7-e9ce-44c8-9f3e-a8ebc762637e {
  fill: silver;
}


@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  #secondLineSVGGroup {
    display: none;
  }
}


@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) { 
  #secondLineSVGGroup {
    display: none;
  }
}