.loader-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.admin-activities-card-wrapper-button {
    width: 80%;
    margin: 2em auto;
}