#legsSVGGroup {
  position: absolute;
  top: 463.5em;
  right: 2em;
  width: 13%;
  opacity: 1;
}

.b784d3fe-1d68-48ac-92a8-581e5bcf5e26 {
  fill: #fbfbfb;
}

.fd399504-9648-46f1-989e-7a9cca85e929 {
  fill: #fcfcfc;
}

.b3def895-7d60-4661-b8c4-a4f53dd9a770 {
  fill: #f8f8f8;
}

.f045419d-1a1b-469e-b3d3-eadaf7ca97cd {
  fill: #f9f9f9;
}

.fba90cef-d85b-480c-a3bf-0db9ee5160ef {
  fill: #f2f2f2;
}

.b82b5215-da5e-4686-bf95-389ebd92f588 {
  fill: #f5f5f5;
}

.f4a20d92-243e-4dfc-92fa-1991a149522c {
  fill: #fafafa;
}

.ece679f4-f13c-4bd5-8b77-ba90a34c1916 {
  fill: #f6f6f6;
}

.ac806f58-86a6-4125-8f25-913cc01c0ecc {
  fill: #f7f7f7;
}

.a5d39ee9-bae6-4cc5-b172-c15d3d2a9279 {
  fill: #efefef;
}

.a3688b13-7685-412c-be73-20c916b6d7a1 {
  fill: #ededed;
}

.a97ce6a6-1037-4ea2-9129-41532ab18a2f {
  fill: #e7e7e7;
}

.a018c0b2-6e89-4abc-a9ab-d9f2fea964b9 {
  fill: #d3d3d3;
}

.a7d64106-1a46-45ac-86a5-6a085e1b1176 {
  fill: #f1f1f1;
}

.a2beeb8d-423e-40f5-8395-7558d0c88105 {
  fill: #ececec;
}

.a3ddb7fb-2a3f-445a-af7a-206cd2641793 {
  fill: #d7d7d7;
}

.e1423aca-a2d8-47bf-9533-bc75bb9e6cc9 {
  fill: #f0f0f0;
}

.e6a673ae-5292-4eb9-bb0e-3631c463a78e {
  fill: #ddd;
}

.acbcb162-b92b-43e4-a549-28a3ae7545ca {
  fill: #f3f3f3;
}

.be498f0f-3fb2-499a-a457-03d712878785 {
  fill: #f4f4f4;
}

.f577cf56-aa0a-43a7-86ff-88850bfae5e4 {
  fill: #eee;
}

.f5ba99d5-b5bb-4477-b6c3-6c2fffce409f {
  fill: #e8e8e8;
}

.a0f309f8-45ae-4d0c-9574-6aff5d056b33 {
  fill: #e9e9e9;
}

.e6254581-a802-43a4-b425-1388b0710e69 {
  fill: #d5d5d5;
}

.ad633ecf-e76f-4837-9a74-e95e861c2169 {
  fill: #e6e6e6;
}

.a3f5fd47-aede-4e8f-99b3-0009732c82a9 {
  fill: #cfcfcf;
}

.aea6c185-0c3f-4003-8e45-403c5d76d8d4 {
  fill: #e1e1e1;
}

.edbea2fa-c63f-4936-81bd-185ab59461b0 {
  fill: #e5e5e5;
}

.b4814966-a58b-453f-813d-b485681905c9 {
  fill: #c7c7c7;
}

.aa967168-41a5-4d9f-bacd-e10727182dd1 {
  fill: #e4e4e4;
}

.ba7a9f3a-5b8d-455d-b2d0-365b8e863f24 {
  fill: #e2e2e2;
}

.a9d1e060-0c23-4335-819d-6cb6dfe64173 {
  fill: #d0d0d0;
}

.b9317257-f1a4-4113-85ab-f15f74564794 {
  fill: #cdcdcd;
}

.a2b5b29c-72f7-4b8f-80c1-e0639b81e23e {
  fill: #eaeaea;
}

.e2b6da8a-165e-4950-b69f-1e33b07fd56f {
  fill: #dbdbdb;
}

.e3bfa92e-81bd-44ef-a4ff-7daeefbcb2ab {
  fill: #dfdfdf;
}

.fb884d83-587d-4d7e-8e45-7c8755ac6527 {
  fill: #e3e3e3;
}

.ba2653ef-1000-45b6-889c-0a0af3de9d10 {
  fill: #e0e0e0;
}

.a76645f5-1057-497a-b8b7-05c4cecce71e {
  fill: #cacaca;
}

.a7871cd8-f326-4f24-aaec-913aa5ff4c01 {
  fill: #cecece;
}

.a07af9c7-b6b5-4280-b1bf-e36e1838efd8 {
  fill: #c1c1c1;
}

.e7c66c77-176f-4689-80c2-359878470e3b {
  fill: #bfbfbf;
}

.e6b64984-7c4d-4de8-876c-ae713396bcad {
  fill: #c6c6c6;
}

.bb9e5924-02c3-4aa2-b479-8ef28d7cba90 {
  fill: #d4d4d4;
}

.ece304ad-7f50-416c-8f59-a0220ff51ac1 {
  fill: #d9d9d9;
}

.b2e77589-6d73-4839-8749-455ee3017cf9 {
  fill: #c3c3c3;
}

.e359da3f-52df-4b66-b43a-79cffe03af41 {
  fill: #dadada;
}

.b46a30ff-9456-4120-a362-aaabcce5ee99 {
  fill: #ebebeb;
}

.f16a0aa5-ae9a-496a-b9e5-f66ef098093e {
  fill: #dedede;
}

.ee08da90-a90e-4598-8a83-b921dbda1066 {
  fill: #d6d6d6;
}

.e6564c09-215d-4d6c-9173-83183a104614 {
  fill: #c9c9c9;
}

.b31fff47-8d24-4840-9f09-e873feb148ed {
  fill: #d8d8d8;
}

.be73da50-5494-41ac-b8a2-65804844d64f {
  fill: #d2d2d2;
}

.bad94a7a-ce1d-47d4-a5d2-7af6916393c4 {
  fill: #cbcbcb;
}

.a595940a-0950-4eee-aaa0-159f86594bad {
  fill: #dcdcdc;
}

.bb0871fc-ff0a-404e-bfb0-d00735bc111c {
  fill: #ccc;
}

.a2aacc76-e81c-42df-a46c-8d2d65b7bd26 {
  fill: #8f8f8f;
}

.a82474c6-404d-497b-bbf2-e6cb55895baf {
  fill: #999;
}

.b54fb06a-66fd-4dd3-9277-6ac1ef02c3fc {
  fill: #8b8b8b;
}

.e48a6e01-b183-4173-b885-aa571aa8c77e {
  fill: #aaa;
}

.e40d1945-281e-4c3f-8949-79ae18057a83 {
  fill: #d1d1d1;
}

.abf2fcaf-962c-4662-85b5-ba81061efa9c {
  fill: #a6a6a6;
}

.bb75aa4b-ed67-43e9-81b7-d37ab873f970 {
  fill: #afafaf;
}

.b12a2ea4-d1a1-4b84-9e96-54e5be8db38e {
  fill: #b6b6b6;
}

.fe00adba-8b27-4e93-86d8-1455e83636c8 {
  fill: #c5c5c5;
}

.adaa86cb-c4ff-4338-a8a0-642e61de18a1 {
  fill: #b2b2b2;
}

.b00e1f7b-5413-4f0f-a0ae-98aa64032dee {
  fill: #939393;
}

.ae4780a0-59e0-4ddb-9734-40b664ba033b {
  fill: #b1b1b1;
}

.ed4ee721-9451-413e-9572-a7f3267e9661 {
  fill: #bcbcbc;
}

.e6ac4a15-420b-4ee7-9181-f722be9218e4 {
  fill: #b7b7b7;
}

.a375b066-1358-43fb-891e-87066586fb78 {
  fill: #bdbdbd;
}

.b94f62a2-9e40-4fee-9934-3e9e61a1988c {
  fill: #a7a7a7;
}

.ad4ab781-6e0f-4d2d-9d87-7e00915afd33 {
  fill: #bebebe;
}

.fc2d33cb-0548-4a7f-a84d-9dda99aa42d5 {
  fill: #9e9e9e;
}

.e52c8214-3d14-4b5f-be54-2721c0ea4a5f {
  fill: #adadad;
}

.a2538017-f9a7-4ab6-8574-7032a7380871 {
  fill: #a9a9a9;
}

.afd664e8-69d7-4ef7-a4cb-ee9c1adc4d0b {
  fill: #c2c2c2;
}

.e3ce36fc-a8cb-46ee-824e-561c67215526 {
  fill: #7e7e7e;
}

.b7adf9c6-e866-4b0c-b9f0-3a7e8dfc6079 {
  fill: #aeaeae;
}

.a8bf07ef-97e4-454f-8868-5d91b5ce2d26 {
  fill: #b0b0b0;
}

.f1f8f061-a5f6-4969-ab12-c950c1bed32b {
  fill: #c8c8c8;
}

.f087dd8b-6fda-4d75-944e-dd9c750936b8 {
  fill: #9f9f9f;
}

.b46e01d8-bce9-43c2-9a0a-9f5a3a8e2e58 {
  fill: #b9b9b9;
}

.ed7e5738-65d2-4697-99e9-d85197b3d61c {
  fill: #b8b8b8;
}

.a68ceeaa-1d87-4bb6-bd55-ff12bbd324d1 {
  fill: #9b9b9b;
}


@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  #legsSVGGroup {
    display: none;
  }
}


@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) { 
  #legsSVGGroup {
    display: none;
  }
}