#about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30em;
  margin-bottom: 4.8em;
}

#about-img {
  width: 64.375em;
  height: 30em;
  margin-right: 4.43em;
}

.about-text-content {
  font-family: 'Alice', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  max-width: 19.35em;
  line-height: 1.2em;
  padding-bottom: 1em;
  text-align: justify;
  color: #333;
}

#bottom {
  padding-bottom: 0em;
}

/* Tablet portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about-text-content {
    font-size: 2.5em;
    max-width: 21.5em;
    width: 18.5em;
    padding-bottom: 0.5em;
  }
}

/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  #about-content {
    flex-direction: column-reverse;
    height: auto;
  }

  #about-img {
    width: 86.25em;
    height: auto;
    margin-right: 0;
  }

  .about-text-content {
    font-size: 4em;
    max-width: 21.5em;
    width: 21.5em;
    padding-bottom: 0.5em;
  }

  #bottom {
    padding-bottom: 0.5em;
  }
}
