#handsSVGGroup{
  position: absolute;
  top: 281.5em;
  left: 0em;
  width: 14.1%;
  opacity: 1;
}

.a18afff4-dff7-4763-9969-ff41dea589f9 {
  fill: #f8f8f8;
}

.a8b7823f-694f-4910-9f6b-b34199562ca7 {
  fill: #f9f9f9;
}

.a4ee0a29-2a1a-45fb-8a21-61d1ad7298b4 {
  fill: #f5f5f5;
}

.e996f6e1-cddd-44ff-9271-5f6e29c20df7 {
  fill: #f7f7f7;
}

.a2d0cdaf-6722-48d2-a910-03e40604f394 {
  fill: #fafafa;
}

.fedd4333-4b93-4cc9-b6a3-4daecbb2bc4b {
  fill: #eaeaea;
}

.b8f13615-e950-4e93-9918-f596f1b0e644 {
  fill: #efefef;
}

.a22fd6ab-adc5-4017-b5d3-db3d38e235f3 {
  fill: #e3e3e3;
}

.e2e5ee37-c4db-4bdb-81c4-c5c3f19c2e9b {
  fill: #eee;
}

.b7ea6b83-27f4-4bfc-b81e-cc5418c1b224 {
  fill: #ededed;
}

.ac0ac5b9-fdd3-4193-a770-a4af55a80fca {
  fill: #ebebeb;
}

.f0a42902-501c-4efe-81e7-9f684ab2096b {
  fill: #f3f3f3;
}

.fd0163be-5b31-4858-87d0-387d33792b28 {
  fill: #e8e8e8;
}

.b562894a-b442-4525-b7b1-4a06a34a3d70 {
  fill: #ececec;
}

.a73725e5-ea25-403b-aed8-15c90c2bfc3e {
  fill: #f4f4f4;
}

.ee5fb739-8c17-4c35-86b9-f4471d6dad4a {
  fill: #e6e6e6;
}

.ebf207fe-7277-4f67-9cad-6682033bbcfb {
  fill: #dadada;
}

.e373380c-c609-493e-84f0-3d5a8e20617c {
  fill: #f0f0f0;
}

.b643b695-7bd7-4558-9da0-ca8a84f4e9ed {
  fill: #f6f6f6;
}

.b24c3f02-8276-43bc-b945-9a6b0d181091 {
  fill: #e9e9e9;
}

.e619925f-cf59-40ab-a53e-bed2a6ad021e {
  fill: #dcdcdc;
}

.fd6ec9fe-2b8c-4b54-8779-458c9676b1e9 {
  fill: #e1e1e1;
}

.ac2f94d5-1a14-4618-8399-5370d371d2fd {
  fill: #dedede;
}

.e843ba0b-8e20-4b2d-8f1d-f1b2d5359ba4 {
  fill: #e7e7e7;
}

.aad1d422-d673-4686-9427-ad1f398ca47b {
  fill: #dfdfdf;
}

.b5bebb6f-4c47-4afe-9421-328178fca769 {
  fill: #e5e5e5;
}

.b8bb9eec-419b-4514-93f5-c2ba947a7303 {
  fill: #f1f1f1;
}

.a2a69707-11fa-4cbe-bdd2-8b38aec23fde {
  fill: #d8d8d8;
}

.aa5b55ea-4cc4-41f2-85fe-55da964e9bcc {
  fill: #e4e4e4;
}

.a138b9e8-26d1-4dfd-a82b-c25b5bd8529a {
  fill: #f2f2f2;
}

.f9f36f0c-13da-48a2-993a-7d0a14ab9b6d {
  fill: #e0e0e0;
}

.acd585f4-a63d-4d2e-abd9-445456ecbe20 {
  fill: #e2e2e2;
}

.ab33567d-12c2-4b22-a88e-e582a8b66a01 {
  fill: #d0d0d0;
}

.eefa7bb8-9ffa-4677-b7bb-459d1755b9ad {
  fill: #d4d4d4;
}

.b27b9067-ba82-4ccf-b1b7-24373c279d10 {
  fill: #dbdbdb;
}

.efcb946a-d789-4b1b-af73-9e0c671cdaa3 {
  fill: #ddd;
}

.a68179a5-8149-4d0c-b346-43536c0c27ae {
  fill: #a1a1a1;
}

.f780231b-ee93-46eb-be02-9c727a5e3a02 {
  fill: #a3a3a3;
}

.a3222dcb-9d67-449e-a9f8-48572e1501e2 {
  fill: #858585;
}

.bbda4fe3-8026-4124-85af-d7d910a00e9d {
  fill: #848484;
}

.a3585dd9-356c-467e-a783-a30e7df637d2 {
  fill: #b6b6b6;
}

.f6316c97-842f-44c4-8b2c-692581e61c7d {
  fill: #a5a5a5;
}

.bf73c3e4-d763-4fa0-be31-dcfbe88ba22c {
  fill: #adadad;
}

.fca9f006-6b3e-4aba-a1c2-48df5c695573 {
  fill: #c9c9c9;
}

.b4fb89de-07ce-4fc3-81c7-ad7aab4ca335 {
  fill: #8d8d8d;
}

.b4a03285-ebde-4467-9867-f875e5dfe5f0 {
  fill: #838383;
}

.b24ca1a5-0014-4b0c-a111-7e513df9ae64 {
  fill: #6c6c6c;
}

.e9ea62c7-a449-4b8a-b226-ff739b3c76b9 {
  fill: #d2d2d2;
}

.b5c584dd-70d5-4cfe-a156-b716d475f8b9 {
  fill: #bdbdbd;
}

.b06adcce-5ee3-450e-80e6-3a1d058e63a5 {
  fill: #7d7d7d;
}

.e59f81f1-42e1-4093-87ed-aca0bbf49bd8 {
  fill: #868686;
}

.b1788154-98a5-4c3c-b64d-54c6e5d0c7c7 {
  fill: #c4c4c4;
}

.e884d7d7-553c-46d6-8978-9f4fccba29cd {
  fill: #b2b2b2;
}

.fa228511-bdcd-43bc-a8d3-a9868d35583c {
  fill: #909090;
}

.e5675247-da4b-43e2-b5bb-dd1cc74faa86 {
  fill: #b4b4b4;
}

.a3c046b8-3a58-4790-8471-847f09037e9e {
  fill: #a0a0a0;
}

.a5883f8a-41c6-42f5-add8-1780697785df {
  fill: #8c8c8c;
}

.bbc98472-bf4a-4add-b5a7-e37e5a757c38 {
  fill: #b0b0b0;
}

.ff77c453-ff6d-4678-a701-5a2637527619 {
  fill: #b7b7b7;
}

.ac286f3b-dcc3-4668-995e-a983602bee45 {
  fill: #949494;
}

.a33c5c84-4c62-41a0-97a9-187bc1aff02a {
  fill: #989898;
}

.e1060a39-4332-4528-a11a-f80fc06f5048 {
  fill: #818181;
}

.bdae02dd-95ad-4a39-8a79-bc2b244498b7 {
  fill: #b5b5b5;
}

.e46c132a-59f7-4941-8f2d-e67bdbb8fb4f {
  fill: #d1d1d1;
}

.ac5f7535-9f98-4843-8f58-0a9873c897dc {
  fill: #bebebe;
}

.a62d79c7-f3f8-4f34-a1e7-f125640fd03b {
  fill: #c7c7c7;
}

.fe43df78-cf98-47b8-9240-c0c6627c35cb {
  fill: #d6d6d6;
}

.b3c8e583-c4cc-4058-a824-5c4f1e6ae410 {
  fill: #cecece;
}

.aa648bec-a92d-483a-a97d-9c2549879ae8 {
  fill: #cfcfcf;
}

.a7d67977-2cc8-47cd-8e05-d5d0baf446ef {
  fill: silver;
}

.aed36590-242c-4528-8c4f-7b9ab5fa0a19 {
  fill: #bbb;
}

.bbcf8876-4fe2-4977-adfa-72446ac28537 {
  fill: #c6c6c6; 
}


@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  #handsSVGGroup {
    display: none;
  }
}


@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) { 
  #handsSVGGroup {
    display: none;
  }
}


@media only screen and (orientation: landscape) and (min-device-height: 320px) and (max-device-height: 500px) { 
  #handsSVGGroup {
    top: 280.5em;;
  }
}