#thirdLineSVGGroup{
  position: absolute;
  top: 535.5em;
  left: 5em;
  width: 5.1%;
  opacity: 1;
}

.e65849a0-6fa6-4f04-8b84-d77d4b4558d0 {
  fill: #c6c6c6;
}

.f495b96b-6519-473d-8d5b-e506f42dc243 {
  fill: #c3c3c3;
}

.ad01b371-cc9c-457d-8c54-f2fc524e1edc {
  fill: #9d9d9d;
}

.a5006ae4-c336-4a73-ab79-d475dad920b0 {
  fill: #dcdcdc;
}

.a8d4d10d-3823-4643-b7b8-6ede9a2e5192 {
  fill: #8a8a8a;
}

.e646e7ab-6a7d-4249-abe7-eb29075c1064 {
  fill: #dbdbdb;
}

.fb3376fc-fa79-4b4c-93a9-c068a4e4b8f7 {
  fill: #9f9f9f;
}

.a14c1507-ad51-4361-9db5-c6e1a76fc35d {
  fill: #b3b3b3;
}