.cost-cards {
  display: flex;
  width: 86.25em;
  height: auto;
  margin: 5.5em auto 4.5em auto;
  justify-content: space-between;
  align-items: center;
}

.front-card-img {
  max-width: 27em;
  max-height: 19.375em;
}

.front-cards {
  max-width: 27em;
  max-height: 19.375em;

  transition: 0.2s;
}

.front-cards:hover {
  opacity: 0.9;
}

#cost {
  margin-bottom: 4.95em;
}

.front-cards {
  position: relative;

  width: 28.75em;
  height: 20.06em;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.front-card-img {
  width: 28.75em;
  height: 20.06em;
}

.front-cards-text {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  white-space: nowrap;
}

.fade-in-out-front {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.back-cards-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  text-align: center;
  white-space: wrap;

  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 200;
  color: #efefef;
  font-size: 1.2em;

  cursor: default;
}

.fade-in-out-back {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.front-cards-title {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 200;
  color: #efefef;
  font-size: 3em;

  cursor: default;
}

.front-cards-price {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  color: #efefef;
  font-size: 2.25em;

  cursor: default;
}

.front-cards-button {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  color: #efefef;
  font-size: 1.5em;
  cursor: pointer;

  background-color: transparent;
  border: none;
  outline: none;
}

.front-cards-button:active,
.front-cards-button:focus {
  outline: none !important;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* Tablet portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  .front-cards-title {
    font-size: 3.7em;
  }

  .front-cards-price {
    font-size: 3em;
  }

  .front-cards-button {
    font-size: 2em;
  }

  .front-card-img {
    max-width: 27.7em;
  }
}

/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  .cost-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .front-cards {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 50%;

    margin-bottom: 1.5em;
  }

  .front-card-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 50%;
  }

  .front-cards-title {
    font-size: 8em;
  }

  .front-cards-price {
    font-size: 6em;
  }

  .front-cards-button {
    font-size: 4em;
  }
}
