#firstLineSVGGroup{
  position: absolute;
  top: 102em;
  left: 1.5em;
  width: 12%;
  opacity: 1;
}

.a541fd34-45a7-4df9-b443-c4fe99c065d8 {
  fill: #fefefe;
}

.f6838c40-4915-4487-9331-e9fae31d2f32 {
  fill: #bebebe;
}

.ec510544-e592-42a2-86c6-f75e7d3c187f {
  fill: #ababab;
}

.b6bd44da-4afd-4a45-8b9c-de647bc8ffb8 {
  fill: #747474;
}

.b8a2c22c-32bd-4906-be5d-9cac293f878d {
  fill: #5b5b5b;
}

.bc331dde-6949-441d-954c-2638a23ee79e {
  fill: #d3d3d3;
}

.a44e60ee-a7ef-4cea-8f0a-f40e1f6356e8 {
  fill: #8a8a8a;
}

.fb3017ec-64c5-4e07-9e31-69c494ab10d3 {
  fill: #939393;
}

.f6d34634-2e5b-414c-a498-6f8e3a3d2b26 {
  fill: #797979;
}