#activities-wrapper {
  margin: -1em auto 4.5em auto;
  width: 88em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  #activities-wrapper {
    width: 86em;

    flex-direction: column;
  }
}
