
#navbar {
  width: 100%;
  height: 6.25em;
  background: rgba(255, 242, 235, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


#navbar-logo {
  height: auto;
  max-width: 15.5%;
  margin-left: 5.2em;
  margin-right: 6.25em;
}

#navbar-links-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-link {
  font-family: 'Alice', serif;
  font-weight: 400;
  font-size: max(1.5em);
  padding-right: 2em;
  transition: 0.2s;
}

.navbar-link:hover {
  color: #854801;
  cursor: pointer;
}

.burger-wrapper{
  display: none;
  transition: .2s linear;
}

.toggled-visible-sidebar{
  display: block !important;
  position: fixed;
  top: 3%;
  right: 3%;
  width: 3em;
  height: 3em;
  z-index: 9999;
  transition: .2s linear;
}

.toggled-visible-sidebar:hover {
  cursor: pointer;
  filter: invert(0.5) drop-shadow(0px 4px 4px rgba(34, 34, 34, 0));
}

.toggled-visible-sidebar > * {
  display: inline-block;
  position: absolute;
  height: auto;
  width: 3em;
  filter: invert(1) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
  z-index: 9999;
  transition: .2s linear;
}

.hidden{
  right: -100% !important;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  right: 0%;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height: 100%;
  z-index: 9998;
  background-color:rgba(245,238,234, 0.9);
  transition: .2s linear;
}

.sidebar-link {
  color: #333;
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  text-align: left;
  padding: 0em;
  margin: 0.1em 0em;
  margin-left: 20%;    
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.sidebar-link:hover {
  color: #854801;
}

#sidebar-logo {
  width: 25em;
  margin: 0 auto;
}


#social-links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 19%;
}

.sidebar-social-link-wrapper {
  margin: 2em 0.35em;
}

.sidebar-social-link {
  width: 5em;
  height: auto;
}

#telegram-social {
 max-width: 5em;
}




/* Tablet portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  #navbar {
    position: fixed;
    height: 15.4em;
    background: #b3ada9;
    z-index: 9999;
  }

  #navbar-logo {
    height: auto;
    max-width: 35%;
    /* margin-left: 5.2em;
    margin-right: 6.25em; */
    filter: invert(1) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  }

  #nabvar-links-row {
    display: none;
  }

  .burger-wrapper{
    display: block;
    position: fixed;
    width: 9em;
    height: 9em;
    right: 5%;
    top: 2%;
    z-index: 9999;
  }

  #burger-button {
    display: inline-block;
    position: absolute;
    height: auto;
    width: 9em;
    right: 5%;
  }


  .sidebar {
    position: fixed;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    z-index: 9998;
    background-color:rgba(179,173,169, 0.9);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .sidebar-link {
    color: white;
    font-size: 7em;
    padding: 0em;
    margin: 0.1em 0em;    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  }

  .hidden{
    right: -100% !important;
  }

  #sidebar-logo {
    display: none;
  }

  #social-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin-top: 5em;
  }
  
  .sidebar-social-link-wrapper {
    margin: 2em 1em;
  }
  
  .sidebar-social-link {
    width: 10em;
    height: auto;
    filter: invert(1) brightness(0.2) invert(1);
  }
  
  #telegram-social {
   max-width: 10em;
   margin-top: 0.2em;
  }
  
}


/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  #navbar {
    position: fixed;
    height: 15.4em;
    background: #b3ada9;
    z-index: 9999;
  }

  #navbar-logo {
    height: auto;
    max-width: 35%;
    /* margin-left: 5.2em;
    margin-right: 6.25em; */
    filter: invert(1) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  }

  #nabvar-links-row {
    display: none;
  }

  .burger-wrapper{
    display: block;
    position: fixed;
    width: 9em;
    height: 9em;
    right: 5%;
    top: 1.5%;
    z-index: 9999;
  }

  #burger-button {
    display: inline-block;
    position: absolute;
    height: auto;
    width: 9em;
    right: 5%;
  }


  .sidebar {
    position: fixed;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    z-index: 9998;
    background-color:rgba(179,173,169, 0.9);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .sidebar-link {
    color: white;
    font-size: 7em;
    padding: 0em;
    margin: 0.1em 0em;    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  }

  .hidden{
    right: -100% !important;
  }

  #sidebar-logo {
    display: none;
  }

  #social-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin-top: 5em;
  }
  
  .sidebar-social-link-wrapper {
    margin: 2em 1em;
  }
  
  .sidebar-social-link {
    width: 10em;
    height: auto;
    filter: invert(1) brightness(0.2) invert(1);
  }
  
  #telegram-social {
   max-width: 10em;
   margin-top: 0.2em;
  }
}