
#navbar {
  width: 100%;
  height: 6.25em;
  background: rgba(255, 242, 235, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#navbar-logo {
  height: auto;
  max-width: 15.5%;
  margin-left: 5.2em;
  margin-right: 6.25em;
}

#navbar-links-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-link {
  font-family: 'Alice', serif;
  font-weight: 400;
  font-size: max(1.5em);
  padding-right: 2em;
  transition: 0.2s;
}

.navbar-link:hover {
  color: #854801;
  cursor: pointer;
}



/* Tablet portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
  #navbar {
    position: fixed;
    height: 11.4em;
    background: #b3ada9;
    z-index: 9999;
  }

  #navbar-logo {
    filter: invert(1) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
}


/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  #navbar {
    position: fixed;
    height: 15.4em;
    background: #b3ada9;
    z-index: 9999;
  }

  #navbar-logo {
    height: auto;
    max-width: 35%;
    /* margin-left: 5.2em;
    margin-right: 6.25em; */
    filter: invert(1) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  }

  #nabvar-links-row {
    display: none;
  }
}