.admin-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20em;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.5);
  margin: 1em auto;
}

.admin-activities-cell {
  cursor: default;
  width: auto;
  height: auto;
  position: relative;
  transition: 0.2s;
  margin: 1em;
}

.admin-activities-cell-image {
  cursor: default;
  width: 20em;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-activities-cell-text {
  cursor: default;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8em;
  color: #ffffff;
}

.admin-activities-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 14.2em;
  width: 60%;
}


.admin-activities-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 70%;
}

.admin-activities-textarea {
  width: 100%;
  height: 70%;
  resize: none;
  font-size: 1.8em;
}

.admin-activities-input {
  width: 100%;
  height: 20%;
}

.admin-activities-form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 100%;
}

.btn{
  width: 100%;
  height: 40%;
  font-size: 1.5em;
}