.feedback-static {
  display: flex;
  justify-content: space-between;

  width: 86.25em;
  height: auto;
  margin: 0 auto 2em;
}

.feedback-static-inner {
  width: 25.8125em;
}

.feedback-static-img {
  width: 25.8125em;
  height: 23.4575em;
}

.feedback-static-title {
  font-family: Alice;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  margin-top: 0.3em;
  margin-bottom: 0.4em;
}

.feedback-static-text {
  font-family: Alice;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: justify;
}

.feedback-active {
  display: flex;
  justify-content: space-between;

  width: 86.25em;
  height: auto;
  margin: 0 auto 7em;
}

.bubble-text {
  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
  padding: 1.875em;
  border-radius: 0.9375em;

  background-color: rgb(223, 223, 223);

  margin-bottom: 0.9em;
}

.bubble-img {
  margin-bottom: 0.9em;
}

.bubble-img-content {
  max-width: 100%;
  max-height: 100%;

  border-radius: 0.9375em;
}

.first-column {
  width: 25em;
}

.second-column {
  width: 25em;
}

.third-column {
  width: 20em;
}

.fourth-column {
  width: 12em;
}

/* Mobile portrait media */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 767px) {
  .feedback-static {
    flex-direction: column;
  }
  .feedback-static-inner {
    width: 86.25em;
  }

  .feedback-static-img {
    width: 86.8125em;
    height: auto;
  }

  .feedback-static-title {
    font-size: 6em;
  }

  .feedback-static-text {
    font-size: 4em;
    margin-bottom: 1.5em;
  }

  .feedback-active {
    flex-direction: column;
    margin: 0 auto;
  }

  .bubble-text {
    font-size: 4em;
    padding: 1em;
  }

  .bubble-img {
    margin-bottom: 3.3em;
    width: 86.25em;
    height: auto;
  }
  .bubble-img-content {
    border-radius: 3em;
  }

  .first-column {
    width: 86.25em;
  }
  .second-column {
    width: 86.25em;
  }
  .third-column {
    width: 86.25em;
  }
  .fourth-column {
    width: 86.25em;
  }
}
