.admin-front-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  width: 30%;
  transition: 0.2s;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  margin-right: 2em;
}

.admin-front-cards:hover {
  opacity: 0.9;
}

.admin-front-card-img {
  width: auto;
  height: 100%;
}

.admin-front-cards-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  white-space: nowrap;
}

.fade-in-out-admin-front {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.admin-back-cards-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  white-space: wrap;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 200;
  color: #efefef;
  font-size: 1.2em;
  cursor: default;
}

.fade-in-out-admin-back {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.admin-front-cards-title {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 200;
  color: #efefef;
  font-size: 3em;

  cursor: default;
}

.admin-front-cards-price {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  color: #efefef;
  font-size: 2.25em;
  cursor: default;
}

.admin-front-cards-additional-info {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  color: #efefef;
  font-size: 1em;
  cursor: default;
  padding: 0 0.5em;
}

.admin-front-cards-button {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  color: #efefef;
  font-size: 1.5em;
  cursor: pointer;

  background-color: transparent;
  border: none;
  outline: none;
}

.admin-front-cards-button:active,
.admin-front-cards-button:focus {
  outline: none !important;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.textarea-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70%;
  resize: none;
  font-size: 1.8em;
}

.textarea-front-container {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.admin-font-textarea-element {
  height: 47%;
  width: 100%;
  resize: none;
  font-size: 0.5em
}

.textarea-back-container {
  height: 100%;
  width: 85%;
}

.admin-back-textarea-element {
  height: 100%;
  width: 100%;
  resize: none;
}
